$error_bg: #ffd2d2;
$error_color: #d8000c;

.error {
  border-color: rgb(0, 0, 0);
  animation: 0.8s on-error linear forwards;
}

@keyframes on-error {
  0% {
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

  50% {
    border-color: $error_color;
    background-color: $error_bg;
  }

  100% {
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
}
