@import "./colors";
@import "./userinfo";
@import "./reposlist";
@import "./animations";

.container {
  width: 75%;
  margin: 0 auto;
}

.error {
  border-color: rgb(0, 0, 0);
  animation: 0.8s on-error linear forwards;
}

.username-form {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;

  & label,
  & input:not(:last-child) {
    margin-right: 1em;
  }
}
